---
import Layout from '../layouts/Layout.astro';
import FormComponent from '../components/FormComponent.jsx';
import { ViewTransitions } from 'astro:transitions';
---

<Layout title="Welcome to 4mentor - Signup Form." navigation={false}>
    
    <div class="w-full mt-12">
        <div class="relative isolate overflow-hidden bg-gradient-to-b from-indigo-100/20 ">
            
                            <div class="mt-24 sm:mt-32 lg:mt-16">
                                <FormComponent client:load/>
                            </div>  
                        
    </div>
        
    


</Layout>
