---
import Layout from '../../layouts/Layout.astro';
import i18next, { t } from "i18next";
import { Trans, HeadHrefLangs } from "astro-i18next/components";
---
<main class="flex items-center h-screen">
    
<div class="drawer lg:drawer-open bg-blue">
    <input id="my-drawer-2" type="checkbox" class="drawer-toggle" />
    <div class="drawer-content flex flex-col items-center justify-center">
        
    <div class="absolute inset-x-0 top-1/2 -z-10 flex -translate-y-1/2 transform-gpu justify-center overflow-hidden blur-3xl sm:bottom-0 sm:right-[calc(50%-6rem)] sm:top-auto sm:translate-y-0 sm:transform-gpu sm:justify-end"
    aria-hidden="true">
   <div class="aspect-[1108/632] w-[69.25rem] flex-none bg-gradient-to-r from-[#ff80b5] to-[#9089fc] opacity-25"
        style="clip-path: polygon(73.6% 48.6%, 91.7% 88.5%, 100% 53.9%, 97.4% 18.1%, 92.5% 15.4%, 75.7% 36.3%, 55.3% 52.8%, 46.5% 50.9%, 45% 37.4%, 50.3% 13.1%, 21.3% 36.2%, 0.1% 0.1%, 5.4% 49.1%, 21.4% 36.4%, 58.9% 100%, 73.6% 48.6%)"></div>
</div>
      <!-- Page content here -->
      <h1 class="text-2xl bold ">Your info</h1>
      <div class=" w-full md:mx-8">
        
        <label class="label">
            <span class="label-text">What is your name?</span>
        </label>
        <input type="text" placeholder="Inigo Montoya" class="input input-bordered w-full " />
        <label class="label">
            <span class="label-text">What is your email?</span>
        </label>
        <input type="text" placeholder="you@email.com" class="input input-bordered w-full " />
        <label class="label">
            <span class="label-text">What is your phone?</span>
        </label>
        <input type="text" placeholder="+1 555444555" class="input input-bordered w-full " />
        <div class="btn  mt-5 btn-info btn-md w-full">Next</div>
    </div>
    </div> 
    <div class="drawer-side">
      
      <ul class="menu p-4 w-80 min-h-full backdrop-blur bg-white/50 items-center mt-10">
        <!-- Sidebar content here -->
        <h3 class="text-xl bold">Steps</h3>
        <li >
            <div class="flex">
                <div class="rounded-full bg-blue-500  text-white h-10 w-10 text-center ">1</div>
                <div>
                    <p class="text-md text-gray-500">Step 1</p>
                    <p class="text-xl ">About you</p>
                </div>
            </div>
        </li>
        <li>
            <div class="flex">
                <div class="rounded-full bg-gray-200  text-black  h-10 w-10">1</div>
                <div>
                    <p class="text-md text-gray-500">Step 2</p>
                    <p class="text-xl ">Your clinic</p>
                </div>
            </div>
        </li>
      </ul>
    
    </div>
  </div>
  
</main>